body{
    background-color:blue;
    color: white;
    display: flex;
   align-content: center;
   flex-direction: column;
   text-align: center;
   flex-wrap: wrap;

    
}

.intro{
    text-align: center;
}

.choice{
    background: none;
    border: none;
    outline: none;
    cursor:pointer;
    font-size: 2rem;
    
}

.choice:hover{
    transform: scale(1.3);
}